* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    transition: all .8s linear;
    text-transform: capitalize;
    /* text-transform: none; */
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-transform: capitalize;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.fa-solid {
    cursor: pointer;
}
.fa-city{
    color: #9e403a;
}
.fa-bowl-food{
    color: #6e9e3a;
}
.back-dark{
    background-color: #000;
}
.dark{
    background-color: #0d0d0d;
}
.h-90 {
    height: 90%;
}
.text-transform{
    text-transform: none;
}
.fs-7{
    font-size: 12px;
}
.pt-6{
    padding-top: 7rem;
}
/* .submitBtn{
    cursor: no-drop !important;
} */
.sideBar {
    left: -288px;
    height: 100vh;
    position: fixed;
    display: flex;
    z-index: 999;
}
.sideBar .list {
    position: relative;
    width: 18rem;
    height: 100vh;
}
.sideBar .toggle {
    cursor: pointer;
    height: 100vh;
    display: grid;
}
.sideBar .toggle .image{
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.sideBar .toggle .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home .box{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transform: translateY(50%);
}
.home .box .overlay{
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.home .box:hover .overlay{
    bottom: 0;
}
.details{
    position: absolute;
    top: 2rem;
    left: 1rem;
}
.bg-dark-overlay{
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 250vh;
}